#me-tabs {
    .am-tabs-default-bar-tab-active {
        color: #8600ff !important;
    }
    .am-tabs-default-bar-underline {
        border-color: #8600ff !important;
    }
    padding-bottom: 1rem;
}
