#page-create-group{
    .navBarWrap{
        position: fixed;
        width: 100%;
        z-index: 2;
        top: 0;
    }
    .submit {
        width: 100%;
        box-sizing: border-box;
        padding: 0 0.3rem;
    }
}